<% provide(:title, "Central do Cliente") %>
<div class="animate form login_form">
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= message %>
    </div>
	<% end %>

	<section class="login_content">
		<%= form_for(:session, url: login_path) do |f| %>

		<h1>Login</h1>
		<%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>

		<%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
    <div class='pull-right' style='margin: -1em -1em 1em;'>
      <%= link_to "Esqueceu sua senha?", new_recuperar_senha_path %>
    </div>

		<%= f.submit "Entrar", class: "btn btn-default col-md-12 col-xs-12" %>
		<% end %>
	</section>
</div>
