<% provide(:title, "Faturas") %>
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Faturas</h3>
        <br />
      </div>
    </div>


    <div class="clearfix"></div>

    <div class="x_content">
      <% if @faturas.present? %>
        <div class="table-responsive">
          <table class="table table-striped jambo_table">
            <thead>
              <tr class="headings">
                <th class="column-title">#</th>
                <th class="column-title">Emitida em</th>
                <th class="column-title">Serviços </th>
                <th class="column-title">Vencimento</th>
                <th class="column-title">Estado </th>
                <th class="column-title">Valor </th>
                <th class="column-title no-link last"><span class="nobr">Acção</span>
                </th>
              </tr>
            </thead>

            <tbody>
              <% @faturas.each do |f| %>
                <tr class="<%= cycle('even', 'odd') %> pointer" data-link="<%= fatura_path(f) %>">
                <td class=" "><%= f.id %></td>
                <td class=" "><%= f.created_at.strftime("%Y/%m/%d") %></td>
                <td class=" "><%= lista_itens(f) %></td>
                <td class=" "><%= f.vencimento.strftime("%Y/%m/%d") %></td>
                <td class="<%= f.paga? ? "green" : "red" %>"><%= f.status.gsub("_", " ").capitalize! %></td>
                  <td class="a-right a-right "><%= valor_formatado(f.moeda, f.valor) %></td>
                <td class=" last"><%= link_to "Ver", fatura_path(f) %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <p class="text-muted well well-sm no-shadow">
          <i>Ainda não há faturas associadas à sua conta.</i>
        </p>
      <% end %>
    </div>
  </div>
</div>
